.mypage
  .mypage-nav
    %ul.mypage-nav__list
      %li.list-mypage
        .word マイページ
        %i.fas.fa-angle-right.right1-icon
      %li.list-todo
        .word やることリスト
        %i.fas.fa-angle-right.right-icon
      %li.list-sell
        .word 出品する
        %i.fas.fa-angle-right.right-icon
      %li.list-sold
        .word 出品した商品
        %i.fas.fa-angle-right.right-icon
      %li.list-bought
        .word 購入した商品
        %i.fas.fa-angle-right.right-icon
      %li.list-guide
        .word ガイド
        %i.fas.fa-angle-right.right-icon
      %li.list-inquiry
        .word お問い合わせ
        %i.fas.fa-angle-right.right-icon
    %h3 設定
    %ul.mypage-nav__list
      %li.list-profile
        .word プロフィール
        %i.fas.fa-angle-right.right-icon
      %li.list-payment
        .word お支払い方法
        %i.fas.fa-angle-right.right-icon
      %li.list-adress
        .word 発送元・お届け先住所変更
        %i.fas.fa-angle-right.right-icon
      %li.list-personal
        .word 本人情報
        %i.fas.fa-angle-right.right-icon
      %li.list-logout
        .word ログアウト
        %i.fas.fa-angle-right.right-icon
  .mypage-main
    .mypage-main__user
      .information
        .information__user-name
          名前
        .information__sell
          .sell-word
            出品数 
          .sell-number 
            1
    .mypage-main__tab 
      %ul.tab-box
        .tab-box__word
          やることリスト
        %li.tab-box__list
          .list-word
            ○○日までに発送
          %i.fas.fa-angle-right.right1-icon
        %li.tab-box__list
          .list-word
            ○○日までに発送
          %i.fas.fa-angle-right.right1-icon
