.mypage
  = render "mypage-nav"
  .mypage-main
    .mypage-main__user
      .information
        .information__user-name
          = current_user.name
        .information__sell
          .sell-word
            出品数 
          .sell-number 
            1
    .mypage-main__tab 
      %ul.tab-box
        .tab-box__word
          やることリスト
        %li.tab-box__list
          .list-word
            ○○日までに発送
          %i.fas.fa-angle-right.right1-icon
        %li.tab-box__list
          .list-word
            ○○日までに発送
          %i.fas.fa-angle-right.right1-icon