&__payment {
  background-color: white;
  width: 100%;
  .payment-box {
    padding: 0 160px;
    .payment-contents {
      border-bottom: #f4f4f4 1px solid;
      .card-content {
        display: flex;
        justify-content: space-between;
        &__information {
          .info-word {
            margin: 30px 0;
            font-weight: bold;
          }
          .info-content{
            &__deadline {
              display: flex;
              .deadline-word {
                margin-right: 5px;
              }
            }
          }
        }
        &__delete {
          padding-top: 100px;
          .delete-word {
            padding: 6px 10px;
            border: #f0342c 1px solid;
            font-weight: bold;
            color: #f0342c;
            border-radius: 5px;
          }
        }
      }
      .card-register {
        @include card-link;
        text-decoration: none;
        padding: 20px 0;
        &__icon {
          margin: 3px 5px 0 0;
        }
      }
    }
    .payment-help {
      padding: 30px 3px 50px 0;
      &__box {
        @include card-link;
        justify-content: flex-end;
        .payment-icon {
          margin: 3px 0 0 8px;
        }
      }
    }
  }
}