* {
  box-sizing: border-box;

}

.body {
  background-color: #f8f8f8;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.contents {
  padding: 40px 40px 120px 40px;
  margin: 0 auto;
  width: 700px;
  .item-box {
    padding: 24px 40px 40px;
    width: 700px;
    background-color: #fff;
    &__name {
      text-align: center;
      font-weight: bold;
      font-size: 24px;
    }
    &__image {
      margin: 16px 0 0;
    }
    &__image-box {
      .main-image {
        display: flex;
        flex-direction: column;
        width: 450px;
        height: 346px;
        margin: 0 auto;
        position: relative;
        border: 1px solid rgb(194, 192, 192);
        li {
          .sold {
            border-width: 100px 100px 0 0;
            border-color: #ea352d transparent transparent transparent;
            display: block;
            position: absolute;
            top: 0;
            z-index: 1;
            border-style: solid;
            &__inner {
              top: -80px;
              font-size: 20px;
              position: absolute;
              z-index: 2;
              color: #fff;
              transform: rotate(-45deg);
              letter-spacing: 2px;
              font-weight: 600;
            }
          }
        }
      }
      .image-list {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 620px;
        .lists {
          display: flex;
          justify-content: center;
          overflow-x: auto;
          white-space: nowrap;
          padding-left: 140px;
          padding-right: 140px;
          .images {
            margin-left: 10px;
            border: 1px solid rgb(194, 192, 192);
            object-fit: cover;
            height: 87px;
            width: 140px;
          }
        }
      }
    }
    &__price {
      margin-top: 24px;
      text-align: center;
      display: flex;
      flex-direction: column;
        font-size: 46px;
        font-weight: bold;
    }
    &__price-detail {
      text-align: center;
      flex-direction: column;
    }
    .item-introduction {
      margin-top: 24px;
      line-height: 1.5;
      font-size: 18px;
      margin-bottom: 30px;
    }
    table {
      margin-bottom: 20px;
      margin-left: 60px;
      tbody {
        width: 100%;
        font-size: 14px;
        th {
          background-color: #eee;
          width: 20%;
          padding: 8px;
          text-align: center;
          border: 1px solid #dedede;
        }
        td {
          width: 61%;
          padding: 15px 15px;
          border: 1px solid #dedede;
        }
        .click {
          text-decoration: none;
          color: #3CCACE;
        }
      }
    }
    &__favorite {
      margin: 10px 0;
      text-align: center;
      .favorite-btn {
        width: 125px;
        .element {
          text-decoration: none;
          .like-box {
            padding: 5px 15px;
            border: #f0342c 1px solid;
            display: flex;
            color: #f0342c;
            border-radius: 30px;
            .like {
              font-size: 18px;
              margin-top: 1px;
            }
          }
          .unlike-box {
            border:gray 1px solid;
            display: flex;
            color: gray;
            padding: 5px 15px;
            border-radius: 30px;
            .unlike {
              font-size: 18px;
              margin-top: 1px;
            }
          }
          .favorite-word {
            margin-left: 8px;
            font-size: 14px;
          }
          .count {
            font-size: 14px;
            margin: 1px 0 0 8px;
          }
        }
      }
    }
    .button-box {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 24px;
      font-weight: bold;
      &__button {
        padding: 10px;
        margin-top: 10px;
        background-color: #3CCACE;
        border-radius: 10px;
        .edit-button, .delete-button {
          padding-left: 280px;
          text-decoration: none;
          color: #fff;
        }
        .buy-button {
          color: #fff;
          text-decoration: none;
        }
      }
      &__button:hover {
        opacity: 0.6;
      }
    }
  }
  .links {
    display: flex;
    justify-content: space-between;
    width: 113%;
    a {
    text-decoration: none;
    color: #3CCACE;
    }
  }
  .related-items {
    margin-top: 24px;
    margin-bottom: 8px;
    font-weight: bold;
    text-decoration: none;
    .more {
      font-size: 24px;
      color: #3CCACE;
      text-decoration: none;
    }
  }
  .show-items {
    width: 700px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    .item-link {
      text-decoration: none;
      color: black;
      .items-lists {
        margin-right: 20px;
        font-size: 15px;
        background-color: white;
        &__image {
          position: relative;
          width: 220px;
          height: 150px;
          object-fit: fill;
          &__sold {
            border-width: 100px 100px 0 0;
            border-color: #ea352d transparent transparent transparent;
            display: block;
            position: absolute;
            top: 0;
            z-index: 1;
            border-style: solid;
            &__inner {
              top: -80px;
              font-size: 20px;
              position: absolute;
              z-index: 2;
              color: #fff;
              transform: rotate(-45deg);
              letter-spacing: 2px;
              font-weight: 600;
            }
          }
        }
        &__info {
          display: flex;
          font-size: 16px;
          flex-direction: column;
          text-align: start;
          padding: 10px;
          &__price {
            justify-content: left;
          }
          &__tax {
            justify-content: left;
            font-size: 10px;
          }
          &__favorite {
            display: flex;
            font-weight: normal;
            font-size: 14px;
            .favorite {
              color: gray;
              margin:2px 5px 0 0;
            }
          }
        }
      }
    }
  }
}