.login-main
  .login-contents
    .login-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .items-email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class:'login-form__input'
        .items-password
          %br/
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class:'login-form__input'
        .actions
          = f.submit "ログイン", class: 'login-btn'
