.contents {
  font-weight: bold;
  .success {
    color: #333;
    font-size: 24px;
  }
  .top-page-button {
    margin-top: 60px;
    background-color: #3CCACE;
    border-radius: 10px;
    font-size: 18px;
    .root-button {
      text-decoration: none;
      color: #fff;
    }
  }
  .top-page-button:hover {
    opacity: 0.6;
  }
}