@mixin list($color) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  color: #343434;
  background-color: white;
  border-bottom: $color 1px solid;
}

.mypage {
  background-color: #f4f4f4;
  display: flex;
  padding: 24px 14vw 24px 12.6vw;
  white-space: nowrap;
  .mypage-nav {
    margin-left: 28px;
    width: 400px;
    ul {
        .nav-list {
          @include list(#ececec);
          height: 50px;
          text-decoration: none;
          cursor: pointer;
          .right-icon {
            font-size: 20px;
            color: #cecece;
          }
        }
        .nav-list:hover {
          background-color: #fcfcfc;
          .right-icon, .right1-icon {
            transform: translateX(.15em);
            transition: .25s;
            color: #343434;
          }
        }
      .list-mypage {
        background-color: #ececec;
        font-weight: 600;
      }
      .list-logout, .list-inquiry {
        border: none;
      }
    }
    h3 {
      background-color: #f4f4f4;
      padding-top: 40px;
      font-weight: 700;
    }
  }
  .right1-icon {
    font-size: 20px;
  }
  .mypage-main {
    margin-left: 43px;
    width: 100%;
    color: #343434;
    font-size: 14px;
    &__user {
      .information {
        height: 200px;
        background-image: image-url("material/photo.jpg");
        background-size: cover;
        text-align: center;
        padding-top: 90px;
        &__user-name, .sell-number {
          font-weight: bold;
          margin-left: 10px;
        }
        &__sell {
          display: flex;
          justify-content: center;
          margin-top: 10px;
        }
      }
    }
    &__tab {
      .tab-box {
        background-color: white;
        &__word {
          height: 75px;
          text-align: center;
          padding-top: 25px;
          font-size: 17px;
          font-weight: bold;
          border-top: #3ccccc 1.5px solid;
        }
        &__list {
          height: 85px;
          @include list(#f4f4f4);
        }
      }
    }
  }
}