.one-box
  .one-box__contents
    .one-top
      人生を変えるフリマアプリ
    .one-bottom
      FURIMAはだれでもかんたんに出品・購入できる
      %p フリマアプリです
    .store
      .apple-store
        = link_to image_tag(src="/assets/badge/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class: "apple-store__icon"), "#"
      .google-play
        = link_to image_tag(src="/assets/badge/google-play-badge.png", class: "google-play__icon"), "#"
.two-box
  2
.three-box
  .three-box__contents
    .three-top
      会員数日本一位
    .three-bottom
      FURIMAは、フリマアプリで最も人気。
      %p 出品・購入回数も業界最多です！
      %p 欲しかったあの商品に出会えるかもしれません。
    .store
      .apple-store
        = link_to image_tag(src="/assets/badge/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class: "apple-store__icon"), "#"
      .google-play
        = link_to image_tag(src="/assets/badge/google-play-badge.png", class: "google-play__icon"), "#"
.four-box
  4
.five-box
  5