.one-box
  .one-box__contents
    .top-word
      人生を変えるフリマアプリ
    .bottom-word
      FURIMAはだれでもかんたんに出品・購入できる
      %p フリマアプリです
    .one-store
      .apple-store
        = link_to image_tag(src="/assets/badge/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class: "apple-store__icon"), "#"
      .google-play
        = link_to image_tag(src="/assets/badge/google-play-badge.png", class: "google-play__icon"), "#"
.two-box
  2
.three-box
  3
.four-box
  4
.five-box
  5