.one-box
  .one-box__contents
    .one-top
      人生を変えるフリマアプリ
    .one-bottom
      FURIMAはだれでもかんたんに出品・購入できる
      %p フリマアプリです
    .store
      .apple-store
        = link_to image_tag(src="/assets/badge/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class: "apple-store__icon"), "#"
      .google-play
        = link_to image_tag(src="/assets/badge/google-play-badge.png", class: "google-play__icon"), "#"
.two-box
  .two-box__top
    .top-text
      FURIMAが選ばれる3つの理由
    .top-under
      ______
  .two-box__bottom
    .two-contents
      .two-contents__image
        %img{src:"/assets/material/pict/pict-reason-01.jpg"}
        .image-number
          1
      .two-contents__middle
        %span 3分
        ですぐに出品
      .two-contents__bottom
        スマホで入力するだけでかんたんに出品できる！
    .two-contents
      .two-contents__image
        %img{src:"/assets/material/pict/pict-reason-02.jpg"}
        .image-number
          2
      .two-contents__middle
        %span シンプル
        で使いやすい
      .two-contents__bottom
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    .two-contents
      .two-contents__image
        %img{src:"/assets/material/pict/pict-reason-03.jpg"}
        .image-number
          3
      .two-contents__middle
        手数料
        %span 業界最安
      .two-contents__bottom
        最大3％でお得に出品＆購入！
.three-box
  .three-box__contents
    .three-top
      会員数日本一位
    .three-bottom
      FURIMAは、フリマアプリで最も人気。
      %p 出品・購入回数も業界最多です！
      %p 欲しかったあの商品に出会えるかもしれません。
    .store
      .apple-store
        = link_to image_tag(src="/assets/badge/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class: "apple-store__icon"), "#"
      .google-play
        = link_to image_tag(src="/assets/badge/google-play-badge.png", class: "google-play__icon"), "#"
.four-box
  4
.five-box
  5