
%main.main-block
  %section.main-block__container
  = form_with model:@item, local:true do |f|
    %h2.main-block__head.registration 商品の情報を入力
      .sell_upload
        .form-group
          %label.main-block__label 出品画像
          %span.form-require.main-block__name 必須
          %br
          %p.sell_upload__text
            最大10枚までアップロードできます


          =f.fields_for :images, @item.images.first do |image|
            .sell_upload__box.clearfix
              .sell-upload-items
                %ul
              .sell-upload-items2
                %ul
              .sell_upload_drop
              = image.file :url, for:"upload-image" %do
                .sell_upload__area
                =image.file_field :url, type: "file",id:"upload-image", class: "upload-image"
                %p.upload-image__text
                ドラッグ&ドロップまたはクリックしてファイルをアップロード

      .sell_content
        .form-group
          %label.main-block_label 商品名
          %span.form-require.main-block__name 必須
          = f.text_field :name,'sell_center', placeholder: "商品名（必須 40文字まで)"

        .form-group
          %label.main-block__label 商品の説明
          %span.form-require.main-block__name 必須
          = f.text_field :name,'sell_bottom', placeholder: "商品の説明 必須 1,000文字以内）（色、素材、重さ、定価、注意点など）
          
          例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです"
          


