.login-main {
  box-sizing: border-box;
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  padding-top: 30px;
  .login-form {
    height: 350px;
    width: 400px;
    margin: 80px auto 0;
    text-align: center;
    background-color: white;
    &__email {
      width: 300px;
      height: 50px;
    }
    &__password {
      width: 300px;
      height: 50px;
    }
    .login-btn {
      width: 300px;
      height: 50px;
      margin-top: 40px;
      color: white;
      background-color: turquoise;
    }
  }
}


