.form-field__input__name {
  height:40px;
  width: 150px;
}

#profile_birth_day_1i,#profile_birth_day_2i,#profile_birth_day_3i {
  margin-bottom: 40px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}