.signup-content {
  box-sizing: border-box;
  background-color: whitesmoke;
  // height: 100vh;
  height: 1200px;
  width: 100vw;
  padding-top: 30px;
  .signup-main {
    background-color: white;
    width: 600px;
    margin: 50px auto 0;
    .signup-main-title {
      font-size: 20px;
      text-align: center;
      font-weight: bolder;
      padding: 15px;
      border-bottom: 1px whitesmoke solid;
    }
    .information-text {
      height: 100%;
      padding-top: 30px;
      padding-left: 150px;
      .form-field {
        margin-top: 20px;
        .form-require {
          background-color: turquoise;
          border: solid 1px turquoise;
          color: white;
        }
        &__input {
          width: 300px;
          height: 40px;
        }
      }
    }
    .next-btn {
      background-color: turquoise;
      color: white;
      width: 300px;
      height: 40px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.field_with_errors {
  display: contents;
}